<template>
  <div id="footer">
    <h1>copyright &copy; 2020</h1>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      name: "Youssef",
    };
  },
};
</script>

<style scoped>
#footer {
  border: 1px solid #333;
  background: green;
  color: white;
  text-align: center;
  padding: 30px;
}
</style>
