<template>
  <div id="header">
    <h1>This is my header</h1>
    <p>Welcome {{ name }}</p>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      name: "Youssef",
    };
  },
};
</script>

<style scoped>
#header {
  border: 1px solid #333;
  background: red;
  color: white;
  text-align: center;
  padding: 30px;
}
</style>
