<template>
  <div id="menu">
    <b-button variant="info" to="/products"> Products </b-button>
    <b-button variant="info" to="/orders"> Orders </b-button>
    <b-button variant="info" to="/posts"> Posts </b-button>
  </div>
</template>

<script>
export default {
  data: function () {
    return {};
  },
};
</script>

<style scoped>
#menu {
  margin-top: 10px;
}
.btn {
  display: block;
  margin-bottom: 10px;
}
</style>
