<template>
  <div>
    <h1>Orders</h1>
    <div>
      <div>Index : {{ index }}</div>

      <b-button v-b-modal.modal-1>Ajouter</b-button>

      <b-modal id="modal-1" title="BootstrapVue">
        <p class="my-4">Hello from modal!</p>
        <div>
          <b-form-input
            v-model="index"
            placeholder="Enter your name"
          ></b-form-input>
          <div class="mt-2">Value: {{ index }}</div>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      index: 1,
    };
  },
};
</script>

<style scoped></style>
