<template>
  <div id="page">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data: function () {
    return {};
  },
  methods: {},
};
</script>

<style scoped>
#page {
  padding: 20px;
  min-height: 500px;
  margin: 10px 0px;
}
</style>
