<template>
  <div>
    <h1>Posts</h1>

    <p v-if="loading">
      En cours de chargement
    </p>
    <div v-else>
      <div v-for="post in posts" v-bind:key="post.id">
        <my-post v-bind:post="post"></my-post>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Post from "./Post";

export default {
  components: {
    "my-post": Post,
  },
  data: function () {
    return {
      posts: [],
      loading: true,
    };
  },
  mounted() {
    axios
      .get("https://jsonplaceholder.typicode.com/posts", {})
      .then((response) => (this.posts = response.data))
      .catch(function (error) {
        console.log(error);
      })
      .finally(() => (this.loading = false));
  },
};
</script>

<style scoped></style>
