<template>
  <div class="post">
    <h2>{{ post.title }}</h2>
    <article>{{ post.body }}</article>
  </div>
</template>

<script>
export default {
  props: ["post"],
  data: function () {
    return {};
  },
};
</script>

<style scoped>
.post {
  background: #cccccc;
  margin: 10px 0px;
  padding: 10px;
}
.post h2 {
  color: green;
}
.post article {
}
</style>
