<template>
  <div>
    <h1>Products</h1>

    <p v-if="loading">
      En cours de chargement
    </p>
    <div v-else>
      <div>
        <b-table hover v-bind:items="posts" v-bind:fields="fields"></b-table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: function () {
    return {
      posts: [],
      loading: true,
      fields: [
        {
          key: "title",
          label: "Titre",
          sortable: true,
          variant: "danger",
        },
        {
          key: "body",
          label: "Contenu",
          sortable: true,
          variant: "success",
        },
      ],
    };
  },
  mounted() {
    axios
      .get("https://jsonplaceholder.typicode.com/posts", {})
      .then((response) => (this.posts = response.data))
      .catch(function (error) {
        console.log(error);
      })
      .finally(() => (this.loading = false));
  },
};
</script>

<style scoped></style>
