<template>
  <div id="page">
    <router-view></router-view>

    Counter : <input type="text" v-model="counter" class="form-control" />
    <button
      class="btn btn-primary"
      type="button"
      v-on:click.prevent="increment"
    >
      Increment
    </button>

    <b-button variant="outline-info" pill>Button</b-button>

    <b-form>
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          required
          placeholder="Enter name"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Food:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="form.food"
          :options="foods"
          required
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
          <b-form-checkbox value="me">Check me out</b-form-checkbox>
          <b-form-checkbox value="that">Check that out</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

      <b-form-group id="input-group-5">
        <b-form-datepicker
          id="example-datepicker"
          v-model="form.date"
          class="mb-2"
        ></b-form-datepicker>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      counter: 6,
      form: {
        name: "",
        email: "",
        food: "Kiwi",
        checked: ["me"],
        date: "",
      },
      foods: ["Banana", "Apple", "Kiwi"],
    };
  },
  methods: {
    increment: function () {
      this.counter++;
    },
  },
};
</script>

<style scoped>
#page {
  border: 1px solid #333;
  min-height: 500px;
  padding: 10px;
  margin: 10px 0px;
}
input {
  display: inline-block;
}
button {
  display: inline-block;
}
</style>
