<template>
  <div id="app">
    <my-header></my-header>
    <b-container>
      <b-row>
        <b-col cols="2">
          <my-menu></my-menu>
        </b-col>
        <b-col cols="10">
          <my-page></my-page>
        </b-col>
      </b-row>
    </b-container>
    <my-footer></my-footer>
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
import Menu from "./components/Menu";
import Page from "./components/Page";

export default {
  name: "App",
  components: {
    "my-header": Header,
    "my-page": Page,
    "my-footer": Footer,
    "my-menu": Menu,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
